In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
# Setup path to data source.
CSV_FILENAME = "country-demographics-sm.csv"

DATA_DIR = Path(Path.cwd()).parent.joinpath("csv-files")
CSV_PATH = DATA_DIR.joinpath(CSV_FILENAME)

def valid_filepath(p: Path) -> bool:
    return p.exists() and p.is_file()

if valid_filepath(CSV_PATH):
    print(f"'{CSV_PATH.name}' filepath path OK.")

'country-demographics-sm.csv' filepath path OK.

In [28]:
df = pd.read_csv(str(CSV_PATH.absolute()))
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Nigeria  18.0  15000.0        No

In [30]:
df.describe()

             Age        Salary
count  27.000000     28.000000
mean   36.925926  53642.857143
std     8.757089  19216.532785
min    18.000000  15000.000000
25%    30.000000  44750.000000
50%    37.000000  53000.000000
75%    44.000000  67000.000000
max    50.000000  83000.000000

In [32]:
df.nunique()

Country       4
Age          16
Salary       20
Purchased     2
dtype: int64

In [33]:
df_no_dupes = df.drop_duplicates()
df_no_dupes.shape

(25, 4)

In [34]:
df.shape

(29, 4)

In [ ]:
# Split into independent and dependent data sets